<a href="https://colab.research.google.com/github/shraddha2-and/Javascript/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-# Assignment Day ***1***

1> Question : Create list's with brand names.***

In [7]:
list_brand = ["Sony","Samsung" "Google","Apple","Dell"]
print(list_brand)
type(list_brand)

['Sony', 'SamsungGoogle', 'Apple', 'Dell']

list

In [5]:
list2_brand = ["Amazon","Coca-cola","Microsoft","Bata","Facebook"]
print(list2_brand)
type(list2_brand)

['Amazon', 'Coca-cola', 'Microsoft', 'Bata', 'Facebook']

list

2> List of overloading brand name in both lists**** ****

In [14]:
list_brand= list_brand+["LG","Kent"] 

list_brand

['Sony', 'SamsungGoogle', 'Apple', 'Dell', 'LG', 'Kent']

In [15]:
list2_brand = list2_brand + ["Adidas","Wal_mart","Puma"]
list2_brand

['Amazon',
 'Coca-cola',
 'Microsoft',
 'Bata',
 'Facebook',
 'Adidas',
 'Wal_mart',
 'Puma']

3>Print even numbers starting with 20 and ending with 40 ****

In [29]:
for i in range(20,41):
   print(i,":")

20 :
21 :
22 :
23 :
24 :
25 :
26 :
27 :
28 :
29 :
30 :
31 :
32 :
33 :
34 :
35 :
36 :
37 :
38 :
39 :
40 :

In [28]:
for i in range(20,40,2):
  print("",i)

 20
 22
 24
 26
 28
 30
 32
 34
 36
 38